* {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.content {
    padding: 30px 50px;
    background: #fff;
}

.logo {
    float: left;
}

header {
    background: url("../public/images/blob.svg") no-repeat right / 35%;
    height: 400px;
}

.header-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.header--title {
    font-size: 5.2rem;
    margin-bottom: 20px;
}

.logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.button {
    background: transparent;
    color: #000;
    border: 2px solid #000;
}

.link-white {
    color: #fff;
}